name: Test self-hosted runner

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - run: |
          cd /home/vagrant/test
          git fetch origin
          git reset --hard origin/main
